<%- include("../includes/header.ejs", {title:"Account"}); %>
    <h1>Account</h1>
    <ul>
        <li>Account Email: <%= result[0].email %></li>
        <li>Account Name: <%= result[0].first_name + ' ' + result[0].last_name %></li>
        <li>School(es):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].school_name%></li>
                <% } %>
            </ul>
        </li>
        <li>Skills(es):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                <li><%= result[i].skill_name%></li>
                <% } %>
            </ul>
        </li>
        <li>Company(es):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                <li><%= result[i].company_name%></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>