<%- include("../includes/header.ejs", {title:"Update Resume"}); %>
<h1>Update Resume</h1>
<form action="/resume/update" method="POST">
    <input type="hidden" id="account_id" name="account_id" value="<%= resume.account_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume[0].resume_name%>"/>
    <br />

    <br />
    School
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) {
            var selected = "";
            if(school[i].school_id != null) {
                selected = "selected";
            }

        %>
        <option value="<%= school[i].school_id %>"<%= selected %>><%= school[i].school_name%></option>
        <% } %>
    </select>
    <br />
    Skill
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";
            if(skill[i].skill_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= skill[i].skill_id %>"<%= selected %>><%= skill[i].skill_name%></option>
        <% } %>
    </select>
    <br />
    Company
    <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";
            if(skill[i].skill_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= company[i].company_id %>"<%= selected %>><%= company[i].company_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>