<%- include("../includes/header.ejs", {title:"Address"}); %>
    <h1>Skill</h1>
    <ul>
        <li>Skill: <%= result[0].skill_name%></li>
        <li>Description:
            <ul>
                    <li><%= result[0].description%></li>

            </ul>
        </li>

    </ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>