<%- include("../includes/header.ejs", {title:"Address"}); %>
    <h1>Address</h1>
    <ul>
        <li>Address: <%= result[0].street + ', '+ result[0].zip_code%></li>
        <li>Street:
            <ul>
                    <li><%= result[0].street%></li>

            </ul>
        </li>
        <li>Zip Code:
            <ul>
                <li><%= result[0].zip_code%></li>

            </ul>
        </li>
    </ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>