<%- include("../includes/header.ejs", {title: "Update " + address[0].street + ', ' + address[0].zip_code}); %>

<h1>Update <%= address[0].street + ', ' + address[0].zip_code%></h1>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= address[0].address_id %>">
    Street Name: <input id="address_street" name="address_street" type="text" value="<%= address[0].street%>"/>
    <br />
    Zip Code: <input id="address_zip_code" name="address_zip_code" type="text" value="<%= address[0].zip_code%>"/>
    <br />


    <!-- Initialize the multiselect plugin: -->


    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>